// Bootstrap variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #000000 !default; // Nasty way of ensuring this is black.
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #1177d1 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0000 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #398439 !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $red !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        #cc3333 !default;
$secondary:     $gray-400 !default;

$info-outline:    #1f7e9a;
$warning-outline: #a6670e;

// Options
$enable-rounded: false !default;

// Body
$body-color:    $black !default;

// Fonts
$font-size-base: 0.9375rem !default;
$headings-font-weight:   300 !default;

// Navbar
$navbar-dark-hover-color:           rgba($white, 1) !default;
$navbar-light-hover-color:          rgba($black, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y:              .25rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width:                0 !default;

$card-group-margin: .25rem;

// Buttons
$btn-secondary-color: #cdc6ba;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
        primary: $primary,
        secondary: $secondary,
        success: $success,
        info: $info,
        warning: $warning,
        danger: $danger,
), $theme-colors);
// stylelint-enable

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

// Import fonts.
@import "fonts.scss";

// Preset CSS

.btn {
    @include font-circular-std-black;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.filemanager-container,
.filepicker-filelist {
    @extend .border;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}

@include bg-variant(".bg-gray", $gray-200);

body {
    -webkit-font-smoothing: antialiased;
    @include font-circular-std-book;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f7f7f7;
    a {
        color: #ff0000;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .path-calendar .maincalendar .calendar-controls .current, .h3, .h4, .h5, .h6 {
    font-weight: 900;
}

#region-main {
    border: none;
}

.list-group-item {
    border: none !important;
    .media-body {
        font-size: 16px;
        @include font-circular-std-medium;
    }
}
.list-group-item.active {
    background-color: #ff0000;
    border-color: #ff0000;
    .media-body.font-weight-bold {
        font-size: 20px;
        @include font-circular-std-bold;
    }
}

nav.fixed-top {
    /* Top nav size */
    height: 72px;
    min-height: 72px;
    /* Top nav burger button */
    > div > button.btn.bg-gray {
        background-color: transparent !important;
        border: none;
        min-height: 24px;
        min-width: 38px;
        margin-left: 22px !important;
        margin-right: 24px !important;
        background-image: url([[pix:theme|burger-menu]]);
        background-repeat: no-repeat;
        background-size: cover;
        i {
            display: none;
        }
    }
}
#page {
    margin-top: 56px;
}

/* Top nav burger button */
nav.fixed-top > div > button.btn.bg-gray {
    background-color: transparent !important;
    border: none;
}

/* Site name and logo*/
.navbar-brand .site-name{
    color: $primary;
    position: relative;
    margin-left: 1rem;
    font-size: 20px;
    @include font-circular-std-bold;
}

/* Using theme_stiftungschweiz to force specificity of selectors */
body.theme_stiftungschweiz {
    .navbar-light .navbar-nav .nav-link {
        color: $black;
    }
}

nav.navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    .logo img {
        max-height: 58px;
        margin-bottom: -42px;
    }
    .nav.navbar-nav.ml-auto {
        > li.nav-item .popover-region {
            margin-right: 1rem;
            i.icon.fa {
                width: 1.25rem;
                height: 1.25rem;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                &.fa-bell.fa-fw:before {
                    background-image: url([[pix:theme|notifications]]);
                }
                &.fa-comment.fa-fw:before {
                    background-image: url([[pix:theme|chat]]);
                }
            }
        }
    }
}

#action-menu-toggle-1:after {
    color: black !important;
    font-size: 1.5rem;
}

/** Menu styling **/
#nav-drawer {
    margin-top: 2px;
    background-color: $white;
    .media-left {
        i, img {
            // Remove icons
            display: none;
        }
    }
    nav.list-group {
        margin-top: 41px;
        ul li a {
            border: none;
            &.list-group-item.active {
                color: $primary;
                background-color: white;
            }
        }
    }
    /** Remove site menu options **/
    .list-group-item {
        &[href*="section-0"], // Hide section 0 link.
        &[data-key="grades"],
        &[data-key="calendar"],
        &[data-key="privatefiles"],
        &[data-key="competencies"],
        &[data-key="badgesview"],
        &[data-key="participants"],
        &[data-key="mycourses"] {
            display: none;
        }
    }

    .list-group-item-action {
        color: $black;
    }

    .list-group-item-action:hover {
        color: $primary;
        background: none;
    }
}

#page-header {
    .card-body {
        margin: 0 -15px;
        background-image: url([[pix:theme|site-cover]]);
        min-height: 400px;
        background-size: cover;
        background-position: center;
        padding: 100px;
    }
    .page-header-headings h1 {
        color: white;
        @include font-circular-std-black;
        font-size: 68px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.06;
        letter-spacing: normal;
    }
}

#page-navbar {
    .breadcrumb-item {
        &,
        & + .breadcrumb-item::before,
        a {
            color: $white;
            font-size: 20px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            @include font-circular-std-book;
        }
        a[aria-current="page"] {
            color: red;
            @include font-circular-std-medium;
        }
    }
}

/** COURSE STUFF **/
body.pagelayout-incourse, body.context-level-module {
    #page-header {
        .card-body {
            margin: 0 0;
            background-image: url([[pix:theme|course-cover]]);
            background-position: center;
        }
    }
}
body.pagelayout-course {
    .region_main_settings_menu_proxy {
        background-color: transparent;
    }
    #page-header {
        .card-body {
            margin: 0 0;
            background-image: url([[pix:theme|course-cover]]);
            background-position: center;
        }
        #action-menu-toggle-2 {
            color: $white;
        }
    }
    #page {
        padding-left: 0;
        padding-right: 0;
    }
    #region-main {
        padding-left: 32px;
        padding-right: 32px;
        background-color: transparent;
        border: none;
    }
    /** Make section navigation overlay hero image header **/
    #page-content {
        margin-top: -125px;
    }

    #section-carousel-content {
        background-color: #fff;
        padding: 2em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    }

    #section-carousel-content-tile {
        margin-top: 1em;
        margin-left: 1em;
        margin-bottom: 1.5em;
        font-size: 44px;
        @include font-circular-std-black;
    }

    .card.subsection {
        .subsection-title {
            @include font-circular-std-bold;
        }
    }

    .activityinstance {
        .instancename {
            color: $black;
            @include font-circular-std-black;
            font-size: 20px;
            font-weight: bold;
        }
        a {
            text-decoration: solid underline black 2px;
            &:hover {
                text-decoration: none;
                .instancename {
                    color: $primary;
                }
            }
        }
    }
}

/** Section styling **/
ul.visualsections {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFFFFF;
    display:block;
    margin-top:2em !important;
    margin-left:10px !important;
    margin-right:10px !important;
}
#section-0 {
    display: none;
}
body.format-visualsections li.section {
    padding-top: 4em;
    margin-bottom: 0;
    .subsection li.section {
        padding-top: 0;
    }
}
body.format-visualsections li.section h3.sectionname {
    @include font-circular-std-black;
    font-size: 44px;
    a {
        color: black;
        &:hover {
            text-decoration: none !important;
        }
    }
}

#page-course-view-visualsections .course-content ul li.section.main {
    border: none;
    padding-bottom: 4em;
}
#page-course-view-visualsections .course-content ul li.section.main:not(:nth-child(1)) {
    border: none;
    padding: 2em 0;
    padding-bottom: 4em;
}

/** Footer **/
#page-footer {
    background-color: red !important;
    min-height: 291px;
    box-sizing: border-box;
    text-align: right;
    background-image: url([[pix:theme|logo-footer]]);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 10%;
    .sitelink a img {
        margin: 1em 0;
    }
}
#course-footer {
    padding-top: 2em;
}

/** Buttons **/
.btn-secondary, .btn-default {
    color: #000000;
    background-color: $btn-secondary-color;
    border-color: darken($btn-secondary-color, 5%);
    &:hover {
        background-color: darken($btn-secondary-color, 10%);
        border-color: darken($btn-secondary-color, 15%);
    }
}

/** Quiz / feedback **/
.alert-info,
#page-admin-index .releasenoteslink,
#adminsettings .form-overridden,
.que .formulation,
.assignfeedback_editpdf_widget .label {
    background-color: #f7f7f7;
    color: #000000;
}

.que div.formulation table {
    border: none !important;
}

.que .info {
    background: none;
}

/** Labels **/
.modtype_label {
    div.no-overflow {
        overflow: visible !important;
    }
    img.fullwidth {
        width: calc(100% + 340px) !important;
        height: auto;
        margin-left: -175px;
        margin-right: -175px;
        max-width: calc(100% + 340px) !important;;
    }
}

// Example changing stroke colours via theme css.
svg.svg-circle {
    stroke: #ccc;
    .subsection-progress {
        stroke: $primary;
    }
    rect {
        stroke: none;
    }
}

body.format-visualsections #section-carousel {
    .sectiontitle .badge-primary {
        background-color: $primary;
    }
    .circle-link.circle-link-unlocked {
        border-color: $primary;
    }
}